
{% block header %}
    <nav class="navbar navbar-expand-lg navbar-light ">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link text-white" href="#">Wild Series <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">Inscription</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">Connexion</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link text-white dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Catégories
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Comédie</a>
                        <a class="dropdown-item" href="#">Science fiction</a>
                        <a class="dropdown-item" href="#">Horreur</a>
                    </div>
                </li>

            </ul>
            <ul>
                <li class="nav-item dropdown langue">
                    <a class="nav-link text-white dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Langues
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Français</a>
                        <a class="dropdown-item" href="#">Anglais</a>
                        <a class="dropdown-item" href="#">Espagnol</a>
                        <a class="dropdown-item" href="#"></a>
                    </div>
                </li>
            </ul>

        </div>
    </nav>
{% endblock %}

